.quotes-wrapper{
	/*
	border: 1px solid red;
	padding: 10px;
	*/

}
.quotes-wrapper:after{
	content: "";
	display: table;
	clear: both;
}
.single-quote{
	float: left;
	position: relative;
	width: 100px;
	height: 100px;
	margin: 1px;
	padding: 0;
	overflow: hidden;
	display: inline-block;
}
.single-quote p{
	font: normal normal 400 20px/20px "Oswald", sans-serif;
	font-size: .75em;
	text-align: center;
	display: block;
	position: absolute;
	top: 100px;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 10px;
	margin: 0;
	color: white;
	background: rgba(0,0,0,.5);
	-webkit-transition: top 100ms ease-out 0;
    -moz-transition: top 100ms ease-out 0;
    -o-transition: top 100ms ease-out 0;
    transition: top 100ms ease-out 0;
}
.single-quote:hover p{
	top: 0;
}
